#banner-container {
    color: wheat;
    min-height: 40vh;
    background-image : url("https://i.pinimg.com/originals/0b/a3/d6/0ba3d60362c7e6d256cfc1f37156bad9.jpg")
}
#container-2 {
    min-height: 10vh;
}
#container-3 {
    min-height: 30vh;
}

.button {
    border-radius: 10%;
    background-color: teal;
}
button:hover {
    background-color:pink !important;
    color: black!important;
    cursor: pointer;
}